* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: rgb(251, 241, 227);
}

.border {
  color: rgb(255, 156, 173);
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

.box-content {
  display: flex;
  width: 420px;
  margin: 10px auto;
  padding: 0 1rem;
  height: 150px;
  border-radius: 20px;
  background-color: bisque;
}

.box-content .image {
  display: flex;
  align-items: center;
}

.box-content .image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.box-content .description {
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
}

.box-content .description .wrap-description {
  text-align: center;
  flex-grow: 1;
}

.box-content .description p {
  margin: 0px;
}